.container {
  display: flex;
  width: 20.375rem;
  height: fit-content;
  gap: 0.9375rem;
}

.itemImageContainer {
  display: flex;
  justify-content: center;
  height: 5rem;
  padding: 0.625rem;

  border-radius: 0.625rem;
  background: var(--colorGreyLight1);
}

.itemTextContainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
}

.itemTextContainer h4 {
  line-height: normal;
}

.itemTextContainer ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.itemTextContainer ul li {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.0125rem;
  margin-top: 0.31rem;
}

.itemReview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.25rem;
  width: 100%;
  margin-top: 0.62rem;
}

.itemReview div {
  display: flex;
  align-items: center;
  gap: 0.19rem;
}

.itemReview div p {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.0125rem;
  margin-right: 0.62rem;
}

.itemReview div svg {
  height: 1rem;
}

.link {
  text-decoration: none;
  color: inherit;
}