.containerHeader {
  width: 20.375rem;
  margin: 0 auto;
}

.productOverview {
  width: 20.375rem;
  margin: 0 auto;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.38rem;
  width: 100%;
  padding: 1.12rem 0;
}

.textPrice {
  color: var(--colorsPrimary);
  font-weight: 700;
  line-height: 1.25rem;
  letter-spacing: 0.0125rem;
  margin:0;
}

.textTitle {
  font-family: Montserrat;
  font-size: 1.75rem;
  line-height: 2.25rem;
  letter-spacing: 0.0125rem;
  margin: 0;
}

.textWrapperSkeleton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.76rem;
  width: 100%;
  padding: 1.12rem 0 0.62rem 0;
}

.textPriceSkeleton {
  line-height: 1.25rem;
  width: 30%;
}

.textTitleSkeleton {
  line-height: 1.75rem;
  margin-bottom: 0.5rem;
}

.imageSkeleton {
  width: 100%;
  height: 27.448rem;
  border-radius: 0.625rem;
  margin: 1.5rem 0;
}

.imageWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding: 3.27394rem 1.1875rem 3.33238rem 1.1875rem;
  margin: 1.5rem 0;

  border-radius: 0.625rem;
  background: var(--colorsGreyLight1);
}

.textTitleReviews {
  width: 100%;
}

.listReviews {
  display: flex;
  flex-direction: column;
  gap: 1.06rem;
  width: 100%;
  padding: 2.81rem 0 3.75rem 0;
  margin: 0;
}

.textDescription {
  font-size: 0.875rem;
  line-height: 1.375rem;
  min-height: 19.625rem;
  letter-spacing: 0.0125rem;
  width: 20.375rem;
  padding-top: 1rem;
  margin: 0 auto;
}

.textLink {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.textLink a {
  color: var(--colorsGreyDark1);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.0125rem;
}

.sectionBackground {
  background: var(--colorsGreyLight1);
  width: 100%;
  min-height: 19.9375rem;
  overflow-x: hidden;
  margin-bottom: 7.69rem;
}

.anotherProduct {
  display: flex;
  flex-direction: column;
  width: 20.375rem;
  padding: 1.75rem 1.5rem 2.37rem 1.5rem;
  margin: 0 auto;
  gap: 1.25rem;
}

.wrapperCarousel {
  position: relative;
  height: 16.058rem;
}

.wrapperCarousel .splide {
  position: absolute;
}

.positionButton {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 99;
}

.wrapperButton {
  display: flex;
  width: 20.375rem;
  align-items: flex-end;
  padding-bottom: 1.88rem;
  margin: 0 auto;
}

.notFoundMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notFoundText {
  font-family: Montserrat;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.0125rem;
}

.notFoundLink {
  color: var(--colorsPrimary);
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.0125rem;
}

.containerSkeleton {
  display: flex;
  justify-content: space-between;
  width: 100%;
}