.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 47.3775rem;
  padding: 6.62rem 0 4.94rem 0;
  color: var(--colorsWhite);
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
}

.titleWrapper small{
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.0125rem;
}

.wrapperButtons {
  display: flex;
  gap: 0.94rem;
  margin-top: 1.06rem;
  margin-bottom: 1.5rem;
}

.picture {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 1224px) {
  .container {
    height: fit-content;
    padding: 2rem 0;
    color: var(--colorsDefault)
  }
}