.wrapper {
  position: absolute;
  top: 0;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 2.9475rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.45rem;
}

.logo h2 {
  margin: 0;
}

.iconMenu {
  display: flex;
  z-index: 100;
}

.userImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.1875rem;
  height: 2.1875rem;
}

.userImg img {
  max-width: 100%;
  object-fit: contain;
  border-radius: 50%
}

.menuLogout {
  display: flex;
  justify-content: center;
  gap: 0.45rem;
  border-top: 1px solid var(--colorsGrey);
  padding-top: 6px;
}

.menuLogout p {
  color: var(--colorsGrey);
  margin: 0;
}