.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 47.3775rem;
  padding: 6.62rem 0 4.94rem 0;
  color: var(--colorsWhite);

  grid-column: 2 / 3;
  grid-row: 1 / 5;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
}

.titleWrapper small{
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.0125rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1.56rem
}

.wrapper {
  position: relative;
  height: 3.125rem;
  width: 100%;
  background-color: var(--colorsWhite);
  border-radius: 0.625rem;
}

.wrapperSendButton {
  width: 100%;
  position: relative;
}

.wrapperButtons {
  display: flex;
  gap: 0.94rem;
  margin-top: 1.06rem;
  margin-bottom: 1.5rem;
}

.text {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.25rem;
  letter-spacing: 0.0125rem;
  margin-top: 0;
  margin-bottom: 0.75rem;
}

.textFooter {
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.0125rem;
  margin: 0;
}

.textFooter a {
  color: var(--colorsPrimary);
  text-decoration-line: underline;
}

.picture {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.errorText {
  font-size: 0.875rem;
  font-weight: 600;
  color: red;
  width: 100%;
  text-align: center;
  margin: 0;
}

.error input {
  border: 1px solid red;
}

.resetPasswordText {
  width: 80%;
  color: var(--colorsPrimary);
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25rem;
  letter-spacing: 0.0125rem;
}
