.card input {
  position: absolute;
  opacity: 0;
  pointer-events: none
}

.card input + label {
  display: block;
  width: fit-content;
  padding: 0 0.9375rem;
  margin: 0;

  color: var(--colorsGreyDark1);
  font-size: 0.875rem;
  line-height: 1.5625rem;
  letter-spacing: 0.0125rem

  
}

.card input:checked + label {
  border-radius: 0.78125rem;
  color: white;
  background-color: var(--colorsPrimary)
}

.carouselCategories {
  position: relative;
  width: 100%;
  height: 1.5625rem
}

.splideTrack {
  overflow: visible;
}