.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: calc(100vh + 2.9475rem);
}

.navbarContainer {
  position: relative;
  width: 20.375rem;
  margin: 0 auto
}
.headerContainer {
  position: relative;
  width: 20.375rem;
  padding-top: 1.81rem;
  margin: 0 auto;
}

.welcomeText {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
}

.welcomeTextSmall {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
}

.wrapper {
  display: flex;
  position: relative;
  height: 2.8125rem;
  padding: 1.56rem 0
}

.showcase {
  background-color: var(--colorsGreyLight1);
  border-radius: 1.875rem 1.875rem 0rem 0rem;
  min-height: 31.5rem;
  padding: 2rem 0 1.5rem 0;
  overflow: hidden;
  flex-grow: 1;
}

.showcaseContainer {
  display: flex;
  flex-direction: column;
  width: 20.375rem;
  padding: 0 1.5rem;
  margin: 0 auto;
  gap: 1.25rem;
}

.showcaseContainer .splide {
  position: absolute;
  max-width: 100vw;
}

@media (min-width: 1224px) {
  .container {
    display: grid;
    grid-template-columns: auto 23rem 4rem 36rem auto;
    grid-template-rows: auto 16rem 2rem 2rem 18rem auto;
    height: 100vh;
  }

  .navbarContainer {
    position: fixed;
    visibility: hidden;
  }

  .welcomeText {
    font-size: 2.4rem;
    line-height: normal
  }

  .welcomeTextSmall {
    font-size: 1.2rem;
    line-height: 2.5rem
  }

  .headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 23rem;
    padding-top: 0;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .wrapperCategories {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .carouselBanners {
    display: flex;
    align-items: center;
    padding: 0 3rem;
    border-radius: 1.5rem;
    overflow: hidden;
    background-color: var(--colorsGreyLight1);
    grid-column: 4 / 5;
    grid-row: 2 / 4;
  }

  .carouselCards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1.5rem;
    overflow: hidden;
    background-color: var(--colorsGreyLight1);
    grid-column: 2 / 5;
    grid-row: 5 / 6;
    padding: 0 3rem;
    gap: 0.75rem;
  }
}