.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 7.1875rem;
}

.counter p {
  font-size: 1rem;
  font-weight: 400;
}

.button {
  display: flex;
  width: 1.875rem;
  height: 1.875rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  border-radius: 0.625rem;
  border: 1px solid var(--colorsGrey);
  background: var(--colorWhite);
}

.buttonDelete {
  display: flex;
  border: none;
  background: var(--colorWhite);
}