.container {
  display: flex;
  align-items: center;
  width: 20.375rem;
  height: 11.54rem;
  padding: 1.25rem 1.5rem;
  box-sizing: border-box;
  gap: 0.62rem;

  border-radius: 0.625rem;
  background: var(--colorsWhite);
}

.textSkeleton {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}