.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 5rem;
  grid-column: 3 /4 ;
  grid-row: 1 /2;
}

.welcomeText {
  display: flex;
  max-width: 20.375rem;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  gap: 0.3125rem;
}

.welcomeTextSmall {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
}

.linkSearch {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.wrapper {
  position: relative;
  height: 2.8125rem;
  max-width: 20.375rem;
  margin: 1.56rem auto;
}

.showcase {
  background-color: var(--colorGreyLight1);
  border-radius: 1.875rem 1.875rem 0rem 0rem;
  height: fit-content;
  padding: 2rem 0 1.5rem 0;
  overflow-x: hidden;
  grid-column: 1 / 6 ;
  grid-row: 3 / 5;
}

.showcaseContainer {
  display: flex;
  flex-direction: column;
  width: 20.375rem;
  padding: 0 1.5rem;
  margin: 0 auto;
  gap: 1.5rem;
}

.showcaseContainer .splide {
  position: absolute;
  max-width: 100vw;
}

.carouselBanner {
  position: relative;
  width: 100%;
  height: 11.45rem;
}

.carouselFeat{
  position: relative;
  width: 100%;
  height: 16.058rem;
}

.showcaseText {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.showcaseText a {
  color: var(--colorGreyDark1);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.0125rem;
}

.noReturn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20.375rem;
  height: 11.125rem;
  padding: 1.25rem 1.5rem;
  box-sizing: border-box;
  gap: 0.625rem;

  border-radius: 0.625rem;
  background: var(--colorWhite);
}

.noReturn h2 {
  color: var(--colorsGrey);
  font-family: Montserrat;
  font-size: 1.375rem;
  line-height: 1.875rem;
  letter-spacing: 0.0125rem;
  width: 9.4375rem;
}

.noReturnCard {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 9.6875rem;
  min-height: 13.3125rem;
  padding: 0.9375rem 0.625rem;
  box-sizing: border-box;
  gap: 1.25rem;

  border-radius: 0.625rem;
  background: var(--colorWhite);
}

.noReturnCard p {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.0125rem;
  text-align: center;
}