.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  grid-column: 2 / 3;
  grid-row: 1 / 5;
}
.wrapperButton p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 0.875rem;
}

.wrapperButton button{
  padding: 0 1.88rem;
  margin-bottom: 1.88rem;
}

.cartItemsList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  margin: 2.06rem 0;
  gap: 2.19rem;
  flex-grow: 1;
}

.wrapperText {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.textTotal {
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.25rem;
  letter-spacing: 0.0125rem;
}

.textPrice {
  text-align: right;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25rem;
  letter-spacing: 0.0125rem;
}

.alertCart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.alertCart p {
  color: var(--colorGreyDark1);
  font-family: Montserrat;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.0125rem;
}

.alertCart a {
  color: var(--colorsPrimary);
  font-size: 1rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.0125rem;
}