.bannerContainer {
  display: flex;
  width: 20.375rem;
  height: 11.54rem;
  padding: 1.25rem 1.5rem;
  align-items: center;
  box-sizing: border-box;

  border-radius: 0.625rem;
  background: var(--colorsWhite);

  img {
    height: 100%;
    width: auto
  }
}

.bannerText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  h3 {
    font-size: 1.375rem;
    font-family: Montserrat
  }
}

.bannerLink {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  color: var(--colorsPrimary);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.0125rem;
  text-decoration: none;

  p {
    margin: 0;
  }
}

@media (min-width: 1224px) {
  .bannerContainer {
    width: 25.6rem;
    height: 14.5rem;
    padding: 1.75rem 2rem
  }
  .bannerText {
    h3 {
      font-size: 1.65rem;
    }
  }
}